.hiring
{
    background-color: #303030;
    color: white;
    font-size: 1.4vw;
    padding-bottom: 5.4vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5.4vh;
    text-align: center;
}

.hiring h2
{
    color: #f91;
}

.row
{
    float: right;
    margin: 0;
    height: 27.78vh;
    width: 100%;
}

.thelatest
{
    background-color: #f91;
    font-size: 1.4vw;
    margin: 0;
    padding-bottom: 7vh;
    padding-right: 6.25vw;
    padding-top: 2.25vh;
    text-align: center;
}

.title
{
    background-color: #f91;
    color: #000;
    text-align: center;
    margin-top: 0;
    padding-bottom: 10.8vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 17.3vh;
}

.title h1
{
    font-size: 4vw;
    margin: 0;
}

.whatido
{
    float: none;
    font-size: 1.4vw;
    padding-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    margin-top: 35vw;
}

#about-left
{
    width: 45%;
}

#about-left img
{
    padding-bottom: 5vh;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 5vh;
    width: 85%;
}

#about-right
{
    font-size: 1.4vw;
    padding-bottom: 5vh;
    padding-right: 2.6vw;
    padding-top: 2.6vw;
    text-align: right;
    width: 55%;
}

#hiring-triangle-bottom
{
    width: 0;
    height: 0;
    border-left: solid 100vw;
    border-top: solid 5vh;
    border-color: #303030 #303030 #f91 #f91;
}

#hiring-triangle-top
{
    width: 0;
    height: 0;
    border-right: solid 100vw;
    border-bottom: solid 5vh;
    border-color: transparent transparent #303030 #303030;
}

#title-triangle
{
    width: 0;
    height: 0;
    border-left: solid 100vw;
    border-top: solid 5vh;
    border-color: #f91 #f91 transparent transparent;
}
