.container button, .container h2, .container h3, .container h4, .dropdowns
{
    margin-top: 1vw;
}

p
{
    margin-top: 0.325vw;
}

.container
{
    font-size: 1.25vw;
    margin: 2.5vw 10vw 5vw 10vw;
    text-align: center;
}
.container ul, .container ol
{
    margin-left: 5vw;
    text-align: left;
}

.download-container h2
{
    text-align: left;
}

.download-table
{
    border-collapse: collapse;
    width: 100%;
}
.download-table td
{
    border: 1px solid #888;
    padding: 1vw;
    text-align: left;
}
.download-table th
{
    border: 1px solid #888;
    padding: 1vw;
    border-bottom: 2px solid #555;
}
.download-table tr:nth-child(even)
{
    background-color: #ddd;
}

#download-button
{
    font-size: 1.375vw;
    padding: 1vw 1.5vw;
}

#intro
{
    margin: 10vw;
}
#intro button
{
    font-size: 1.125vw;
    margin-top: 2vw;
    padding: 1vw 1.5vw;
}

#title img
{
    border-radius: 1vw;
    width: 20vw;
}
