.contact
{
    background-color: #fff;
    margin: 0;
    padding: 5vh 10vw 5vh 10vw;
    text-align: center;
}

.interests
{
    background-color: #fff;
    margin: 0;
    padding: 5vh 10vw 5vh 10vw;
    text-align: left;
}

.skills
{
    background-color: #303030;
    color: #fff;
    margin: 0;
    padding: 5vh 25vw 5vh 25vw;
    text-align: center;
}

.skills h2
{
    color: #f91;
    margin-top: 0;
}

.skills img
{
    height: 1vw;
    margin-right: 0.5%;
}

.skills ul
{
    margin-left: 15vw;
}

.title
{
    background-color: #f91;
    color: #000;
    text-align: center;
    margin-top: 0;
    padding-bottom: 10.8vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 17.3vh;
}

.title h1
{
    font-size: 4vw;
    margin: 0;
}

.tools
{
    background-color: #f91;
    margin: 0;
    padding: 5vh 10vw 5vh 10vw;
    text-align: right;
}

#triangle-contact
{
    width: 0;
    height: 0;
    border-left: solid 100vw;
    border-top: solid 5vh;
    border-color: #f91 #f91 transparent transparent;
}

#triangle-skills
{
    width: 0;
    height: 0;
    border-right: solid 100vw;
    border-bottom: solid 5vh;
    border-color: transparent transparent #303030 #303030;
}

#triangle-tools
{
    width: 0;
    height: 0;
    border-left: solid 100vw;
    border-top: solid 5vh;
    border-color: #303030 #303030 #f91 #f91;
}

#triangle-title
{
    width: 0;
    height: 0;
    border-left: solid 100vw;
    border-top: solid 5vh;
    border-color: #f91 #f91 transparent transparent;
}
