body
{
    background-color: #f91;
    color: white;
    text-align: center;
}

.showtext
{
    background-color: white;
    border-radius: 2.5vw;
    color: black;
    font-size: 2.5vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 37.5vh;
    padding-bottom: 5vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5vh;
}
