<footer>
    <a class="no-link-underscore" href="/"><img id="footer-logo" src="/images/logofullres.png"></a>
    <h3 id="footer-name"><b>That_One_Nerd</b> 2023</h3>

    <button id="footer-to-top-button" onclick="backToTop()" title="Scroll back to the top.">Back to Top</button>

    <div id="footer-lists">
        <ul id="footer-page-list">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="/links.html">Links</a></li>
            <li><a href="/news.html">News</a></li>
        </ul>
        <ul id="footer-misc-list">
            <li><a href="/privacy.html">Privacy Policy</a></li>
            <li><a href="mailto:kyle@thatonenerd.net">Contact Me</a></li>
        </ul>
    </div>
</footer>